<div class="jumbotron">
    <h1 class="display-4">Welcome to charlottelokko.com!</h1>
    <hr class="my-4">
    <p>Well, hi there and welcome! From the title you can guess my name is Charlotte Lokko</p>
    <p>I made this site for some experience in web development, blog a little and show some of info</p>
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="CV" role="button">Wanna see my CV?</a>
      <a class="btn btn-primary btn-lg" href="Blog" role="button">How about my blog?</a>
      <a class="btn btn-primary btn-lg" href="Instagram" role="button">Check out my insta?</a>
    </p> -->
  </div>

